<div class="f">
    <div class="f1">
        <h4>December 03, 2023     10:13 PM</h4>
    </div>
    <div class="f2">
        <h2>Training in Bio Organic Farming for Cooperatives at 
            Maison des Eleveurs</h2>
    </div>
    <div class="f4">
        <p>The International Day of Cooperatives is an annual celebration of the cooperative movement observed on the first Saturday of July. The theme this year as proclaimed by the International Cooperative Alliance is “Cooperatives for climate action”. The theme was chosen to support Sustainable Development Goal 13 on Climate Action.
        </p>
    </div>
</div>
<div class="f5">
    <img src="./assets/images/ki.png">
</div>
<div class="f6">
    <p>On July 2, cooperatives all around the world will celebrate the 100th International Day of Cooperatives (#CoopsDay). A decade on from the UN International Year of Cooperatives, which showcased the unique contribution of cooperatives to making the world a better place, this year’s #CoopsDay slogan –“Cooperatives Build a Better World”– echoes the theme of the International Year.<br>


        “Cooperatives are answering the wake-up call of UN Secretary General Antonio Guterres, who warned that the world is ‘on the edge of an abyss — and moving in the wrong direction’, and exclaimed that ‘to restore trust, and inspire hope, we need cooperation, we need dialogue, we need understanding’. For nearly two centuries, cooperatives have been pulling in this direction. This was amply highlighted at the 33rd World Cooperative Congress, held by the International Cooperative Alliance in December 2021, which focused a spotlight on how their shared identity is moving cooperatives to take action to address the world’s problems” declared Bruno Roelants, Director General of the ICA.
        
        
        The United Nations invites cooperatives around the world to celebrate how the human-centred business model, inspired by the cooperative values of self-help, self-responsibility, democracy, equality, equity, and solidarity and the ethical values of honesty, openness, social responsibility and caring for others, is building a better world.<br>
        
        
        Operating all around the world, in many different sectors of economy, cooperatives have proven themselves more resilient to crises than the average. They foster economic participation, fight against environmental degradation and climate change, generate good jobs, contribute to food security, keep financial capital within local communities, build ethical value chains, and, by improving people’s material conditions and security, contribute to positive peace.<br>
        The 2022 Coopsday actions’ pack including the logo, key messages and other digital resources will be available soon.
        
        
        About the International Day of Cooperatives
        Marked by cooperatives worldwide since 1923 and officially proclaimed by the United Nations General Assembly on the centenary of the ICA in 1995, the International Day of Cooperatives is celebrated annually on the first Saturday of July.
        
        
        The aim of #CoopsDay is to increase awareness of cooperatives and promote the movement’s ideas of international solidarity, economic efficiency, equality, and world peace. Since 1995, the ICA and the United Nations through Committee for the Promotion and Advancement of Cooperatives (COPAC) have jointly set the theme for the celebration of #CoopsDay.
        
        
        Through #CoopsDay, local, national and global policymakers, civil-society organisations and the public in general can learn about the contribution of cooperatives to a secure future for all.</p>
</div>
<div class="f7">

</div>
<div class="f8">

</div>
<div class="ab" style=" background-color: blue;">
    <div>
    </div>
</div>
<div class="last">
    
</div>