<div class="a">
    <div class="a1">
        <h3>User Login</h3>
    </div>
</div>
<div class="a2">
    <h5>Username</h5>

</div>
<div class="a3">
    <input type="text">
</div>
<div class="a4">
    <h3>Password*</h3>
</div>
<div class="a5">
    <input type="password">
</div>
<div class="a6">
    <h5>Remember me</h5>
</div>
<div class="a7">
</div>
<div class="a8">
    <button>LOGIN</button>
</div>
<div class="a9">
    <a href="/signup"> Register | Forgot Password?</a>
</div>
<div class="ab" style=" background-color: blue;">
    <div>
    </div>
</div>
<div class="last">

</div>