
    <div class="navb" style="background-color:white">
    
             <div class="nav-links">
                <ul>
                    <li><b>Email:cpecreditunion@intnet.mu|</b></li>
                    <li><b>Phone:657-2920/5-448-0878| </b> </li>
                    <li><b>Fax:675-6509|</b></li> 
                    <li><b>Whatsapp:52511536|</b></li>
                </ul>
            </div>
            <div class="nav2">
                <ul>
                  <li><a routerLink="/home">HOME</a></li>
                  <li> <a routerLink="aboutus">ABOUT US</a></li>
                  <li><a routerLink="products">PRODUCT</a></li>
                   <li><a routerLink="">PAQ</a>
                  <li><a routerLink="gallery"> GALLERY</a></li>
                   <li><a routerLink="blog">BLOG</a></li>
                    <li><a routerLink="news">NEWS & EVENTS</a></li>
                     <li><a routerLink="contactus">CONTACT US</a></li>
                    <li><a routerLink="login">LOGIN</a></li>  
                </ul>  
            </div>
            
    </div>

<div class="i">
    <img src="./assets/images/z.png">
</div>
<div class="i2">
    <h5>Curepipe </h5>
</div>
<div class="i3">
    <h5>Co-operative 
        Credit Union Limited</h5>
</div>
<br>
<br>
<br>


