<div class="container">
</div>
<br>
<div class="section">
    <section class="image">

        <div class="home2">
            <img src="./assets/images/u.png">
        </div>
        <div class="home">
            <img src="./assets/images/a.png">
        </div>
        <div class="t">

        </div>
        <div class="t1">
            <h5>Become a Member</h5>
        </div>
        <div class="t2">
            <p>As a credit union, we are here to help our members achieve their financial goals. So whether yours
                involve saving for the future, getting free of your debts, or borrowing at reasonable rates to make your
                plans happen sooner, we are here to help. </p>
        </div>
    </section>
</div>
<br>
<br>
<div>
    <section>
        <div class="h">
            <p>Why the CCCU ? </p><br> <br>
            <h3>At the Curepipe Co-operative Credit Union, our mission is not only to encourage savings and access
                credit.</h3>
        </div>
        <div class="image2">
            <img src="./assets/images/b.png">
        </div>
        <div class="image-p">
            Our team is at the service of its members. Shareholders that we accompany step by step on a daily basis to
            help them achieve their goals. Each client counts and we form a large family where the key word is mutual
            aid. Like a human chain, we advance together and the exchange takes place in both directions.
            <br><br><br><br>It is thanks to the support of the members that the management can dream of the best for the
            latter. More concretely our products and services are as follows :
            <br><br><br><br>More about us
        </div>
    </section>
</div>
<div class="m">
    <section class="o">
        <div class="k">
            What We Do
        </div>
        <div class="k2">
            Products & Services
        </div>
        <div class="k3">
            <div class="k33">SAVINGS</div>
        </div>
        <div class="k4">
            <div class="k34"> LOANS</div>
        </div>
        <div class="k5">
            <div class="k35">INSURANCE</div>
        </div>
        <div class="k6">
            Our Services
        </div>
        <div class="k66">
            <p>Whether you're looking to borrow money, make savings or support your employees, learn more about how we
                can help:</p>
        </div>
        <div class="k7">
            Become a member
        </div>
        <div class="k77">
            <p>To start saving or borrow money with Leeds Credit Union apply here now.</p>
            <a>Read more about how to become a member</a>
        </div>
    </section>
    <div class="k8">

    </div>
    <div class="kh">
        <h5>Continuous Training</h5>
    </div>
    <div class="k9">

    </div>
    <div class="kh1">
        <p>We encourage our members to train themselves to go further in their projects</p>
    </div>
    <div class="k10">

    </div>
    <div class="kh2">
        <h5>Counselling & Advice</h5>
    </div>
    <div class="kh3">
        <p>We encourage our members to train themselves to go further in their projects</p>
    </div>
    <div class="k11">

    </div>
    <div class="kh4">
        <h5>Leadership</h5>
    </div>
    <div class="kh4">
        <p>We encourage our members to train themselves to go further in their projects</p>
    </div>

    <div class="k12">

    </div>
    <div class="j44">
        <img src="./assets/images/kar.png">
    </div>
    <div class="j5">
        <h3>Apply for a Loan</h3>
    </div>
    <div class="j8">
        <p>Whatever your reasons for borrowing or financial background, we’ve got a loan to suit your needs.</p>
    </div>
    <div class="bk">
        <button>Read More</button>
    </div>
    <div class="k13">

    </div>
    <div class="j45">
        <img src="./assets/images/kar.png">
    </div>
    <div class="j6">
        <h3>Apply for a Loan</h3>
    </div>
    <div class="j9">
        <p>Whatever your reasons for borrowing or financial background, we’ve got a loan to suit your needs.</p>
    </div>
    <div class="bk1">
        <button>Read More</button>
    </div>
    <div class="next">

    </div>
    <div class="j46">
        <img src="./assets/images/kar.png">
    </div>
    <div class="d">
        <img src="./assets/images/ju.png">
    </div>

    <div class="j7">
        <h3>Apply for a Loan</h3>
    </div>
    <div class="j10">
        <p>Whatever your reasons for borrowing or financial background, we’ve got a loan to suit your needs.</p>
    </div>
    <div class="bk2">
        <button>Read More</button>
    </div>
    <section>
        <div class="img">
            <img src="./assets/images/r.png">
        </div>
        <div class="img1">
            <h4>
                Travaux de renovation
            </h4>
            <div class="i2">
                <p>Cher membre, en vue des travaux de rénovation qui débuteront le 15 février, un espace sera aménagé
                    dans le parking de la CCCU Limited. Cela nous permettra d’assurer les activités et aussi de pourvoir
                    les différents services au quotidien.</p>
            </div>
        </div>
        <div class="im2">
            <img src="./assets/images/s.png">
        </div>
        <div class="i3">
            <h4>Renovations</h4>
        </div>
        <div class="i33">
            <p> Dear member, in view of the renovation works which will begin on February 15th, a space will be set up
                in the car park of CCCU Limited.</p>
        </div>
        <div class="im3">
            <img src="./assets/images/t.png">
        </div>
        <div class="i44">
            <h3>Office Closed</h3>
        </div>
        <div class="i55">
            <p>In accordance with the containment procedures currently in force, our office is closed until the
                containment period is lifted by the government.

                As such, a grace period has been approved by management to be applied for payments made.

                The grace period will be applied from March 20, 2020 to May 31, 2020 during this time no penalties will
                be applied for late payments.</p>
        </div>
    </section>
</div>
<div class="ab" style=" background-color: blue;">
</div>
<div class="j1">
    <p>It all started in the 1970s. Modestly, but surely, Credit Unions are establishing themselves across the island.
    </p>
</div>
<div class="j2">
    <p> Home | About Us | Our History | Events | FAQ </p>
</div>

<div class="last">

</div>
<div class="l">
    <img src="./assets/images/lk.png">
</div>
<div class="l1">
    <h3>Curepipe </h3>
</div>
<div class="l2">
    <h3>Co-operative</h3> <br>
    <h5>h2Credit Union Limited</h5>
</div>
<div class="l3">
    <p>Email : cpecreditunion@intnet.mu
        Phone : 675-2920 / 5-448-0878
        Fax : 675-6509
        WhatsApp : 5251 1536

        Morcellement Bellouguet,
        Gabriel Froppier Street,
        Curepipe 74503
    </p>
</div>
<div class="l4">
    <p>
        Social Links
    </p>
</div>
<div class="l5">
    <img src=".assets/images/h12.png">
</div>
<div class="l6">
    <p>© 2017, Curepipe Cooperative Credit Union Limited | designed by Reubro</p>
</div>