<div class="b1">
    <div class="b2">
        <div class="b3">
            <h2>Our History</h2>
        </div>
        <div class="b4">
            <p>The deans still alive are Messrs. Yves Clain, who holds account no.3, and Gérard Virassamy, the eighth member to have registered.</p>
        </div>
        <div class="b5">
            <h3>Year 1971</h3>
        </div>
        <div class="b6">
            <p>Curepipe Co-operative Credit Union Ltd, also known as CCCU, was established on July 5, 1971 with 65 members. Forty four years later she had several highlights which are as follows:
                 Our Deans
                The deans still alive are Messrs. Yves Clain, who holds account no.3, and Gérard Virassamy, the eighth member to have registered.</p>
        </div>
        <div class="b7">
            <img src="./assets/images/d1.png">
        </div>
        <div class="b8">
            <h3>Cooperative 
                Values</h3>
        </div>
        <div class="b9">
            <h5> * Become a Member<br>
                 * Self-Help<br>
                 * Democracy</h5>
        </div>
        <div class="b10">
            <h5> * Become a Member<br>
                 * Self-Help<br>
                 * Democracy</h5>
        </div>
        <div class="b11">
            <h5> * Become a Member<br>
                 * Self-Help<br>
                 * Democracy</h5>
        </div>
        <div class="b12">
            <img src="./assets/images/b1.png">
        </div>
        <div class="b13">
            <h4>Year 2014 
                5000+ members</h4>
        </div>
        <div class="b14">
            <h3>Our members<br><br>
                As of August 1, 2014, the CCCU has 5,085 members on its registers, of which 3,500 are active members.</h3>
        </div>
        <div class="b15">
            <h3>Our award<br><br>
                1st in Finance sector in 2014 for the Excellence Award for Cooperative.</h3>
        </div>
        <div class="b16">
            <h3>Turnover<br><br>
                Our turnover was around Rs 600 rupees in 1971. 44 years later, it amounts to more than Rs 85 million by the audited accounts as of June 30, 2014.</h3>
        </div>
        <div class="b17">
            <h3>Year 2015</h3>
        </div>
        <div class="b18">
            <h3>Our members<br><br>
                As of June 30, 2015, the CCCU has 5,316 members on its registers, of which 3,800 are active members.</h3><br>
        </div>
        <div class="b19">
            <h3>Our ceiling<br><br>
                Initially, the ceiling for loans granted was Rs 1,500. In 2015, it was around Rs 300,000.</h3><br>
        </div>
        <div class="b20">
            <h3>Our award<br><br>
                Grand Winner in 2015 in the Excellence Award for Cooperative.</h3><br>
        </div>
        <div class="b21">
            <img src="./assets/images/c3.png">
        </div>
    </div>
    <div class="b22">
        <img src="./assets/images/ee.png">
    </div>
</div>
<div class="ab" style=" background-color: blue;">
    <div>
    </div>
</div>
<div class="last">
    
</div>