<div class="g">
    <div class="g1">
        <img src="./assets/images/ka.png">
    </div>
    <div class="g2">
        <h3>Contact Us</h3>
    </div>
    <div class="g3">
        <p>If you need help with your account or have a question for us, we’d be happy to help.</p>
    </div>
    <div class="g4">
        <h2>Let's Talk</h2>
    </div>
    <div class="g5">
        <p>For general information or to discuss how Curepipe Cooperative Credit Union Limited can better assist your organization, please feel free to send us a message 
            using the contact form below.</p>
    </div>
    <div class="g6">
        <h4>First & Last Name
            </h4>
    </div>
    <div class="g7">
        <h4>Company or Organization</h4>
    </div>
    <div class="g8">

    </div>
    <div class="g9">

    </div>
    <div class="g10">
        <h4>Email</h4>
    </div>
    <div class="g13">
        <h4>Phone Number</h4>
    </div>
    <div class="g11">

    </div>
    <div class="g12">

    </div>
    <div class="g14">
        <h4>Inquiry / Message Title</h4>
    </div>
    <div class="g15">

    </div>
    <div class="g16">
        <h4>Message</h4>
    </div>
    <div class="g17">

    </div>
    <div class="g18">
        <button>SEND MESSAGE</button>
    </div>
</div>
<div class="g19">

</div>
<div class="g20">
    <img src="./assets/images/h.png">
</div>
<div class="g21">
<h4>Main Office</h4>
</div>
<div class="g22">
<h4>Address<br>

    Morcellement Bellouguet,
    Gabriel Froppier Street,
    Curepipe 74503<br>
    
    Email<br>
    
    cpecreditunion@intnet.mu
    
    General Inquiries<br>
    
    Office  : 675-2920
    Fax       : 675 6509
    Mobile : 5-448-0878<br>
    
    Website                                                   Social Media
    
    www.cccu.mu<br>
    </h4>
</div>
<div class="ab" style=" background-color: blue;">
    <div>
    </div>
</div>
<div class="last">
    
</div>
