.gi img
{
    position: absolute;
width: 1920px;
height: 550px;
left: 0px;
top: 163px;

background: #3A96E7;
}
.g2 h3
{
    position: absolute;
width: 271px;
height: 61px;
left: 217px;
top: 339px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 61px;
/* identical to box height */


color: #FFFFFF;

}
.g3 p
{
    position: absolute;
    width: 613px;
    height: 89px;
    left: 217px;
    top: 481px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
    
}
.g4 h2
{
    position: absolute;
    width: 230px;
    height: 45px;
    left: 150px;
    top: 830px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 45px;
    
}
.g5 p 
{
    position: absolute;
width: 554px;
height: 90px;
left: 150px;
top: 926px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;

color: #242424;

}
.g6 h4
{
    position: absolute;
width: 126px;
height: 45px;
left: 150px;
top: 1006px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 45px;
/* identical to box height, or 300% */


color: #595959;

}
.g7 h4 
{
    position: absolute;
width: 181px;
height: 45px;
left: 500px;
top: 1006px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 45px;
/* identical to box height, or 300% */


color: #595959;

}
.g8
{
    box-sizing: border-box;

position: absolute;
width: 322px;
height: 46px;
left: 150px;
top: 1064px;

background: #FFFFFF;
border: 1px solid #ACACAC;
border-radius: 3px;
}
.g9
{
    box-sizing: border-box;

position: absolute;
width: 322px;
height: 46px;
left: 500px;
top: 1064px;

background: #FFFFFF;
border: 1px solid #ACACAC;
border-radius: 3px;
}
.g10 h4
{
    position: absolute;
width: 162px;
height: 45px;
left: 150px;
top: 1120px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 45px;
}
.g11
{
    box-sizing: border-box;

position: absolute;
width: 322px;
height: 46px;
left: 150px;
top: 1186px;

background: #FFFFFF;
border: 1px solid #ACACAC;
border-radius: 3px;
}
.g12
{
    box-sizing: border-box;

position: absolute;
width: 322px;
height: 46px;
left: 500px;
top: 1186px;

background: #FFFFFF;
border: 1px solid #ACACAC;
border-radius: 3px;
}
.g13 h4
{
    position: absolute;
width: 106px;
height: 45px;
left: 500px;
top: 1120px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 45px;
/* identical to box height, or 300% */


color: #595959;
}
.g14 h4
{
    position: absolute;
width: 162px;
height: 45px;
left: 150px;
top: 1258px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 45px;
/* identical to box height, or 300% */


color: #595959;

}
.g15
{
    box-sizing: border-box;

position: absolute;
width: 660px;
height: 46px;
left: 150px;
top: 1319px;

background: #FFFFFF;
border: 1px solid #ACACAC;
border-radius: 3px;
}
.g16 h4
{
    position: absolute;
width: 65px;
height: 45px;
left: 150px;
top: 1373px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 45px;
/* identical to box height, or 300% */


color: #595959;

}
.g17
{
    box-sizing: border-box;

position: absolute;
width: 660px;
height: 150px;
left: 150px;
top: 1428px;

background: #FFFFFF;
border: 1px solid #ACACAC;
border-radius: 3px;
}
.g18 button
{
    box-sizing: border-box;

position: absolute;
width: 660px;
height: 50px;
left: 150px;
top: 1600px;
color:white;
background: #225EB5;
border: 1px solid #ACACAC;
border-radius: 3px;
}
.g19
{
    box-sizing: border-box;

position: absolute;
width: 370px;
height: 445px;
left: 950px;
top: 1030px;

background: #FFFFFF;
border: 1px solid #ACACAC;
border-radius: 3px;
}
.g20 img
{
    box-sizing: border-box;

position: absolute;
width: 370px;
height:302px;
left: 950px;
top: 890px;

border: 1px solid #ACACAC;
border-radius: 3px;
}
.g21 h4
{
    position: absolute;
width: 198px;
height: 45px;
left: 1000px;
top: 1190px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 45px;
}
.g22 h4
{
    position: absolute;
width: 480px;
height: 386px;
left: 972px;
top: 1268px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;

color: #000000;

}
.ab{
    position: absolute;
    width: 1920px;
    height: 98px;
    left: 0px;
    top: 2635px;
}
.last
{
position: absolute;
width: 1920px;
height: 123px;
left: 0px;
top: 2690px;

background: #55C2DB;
}