<div class="c1">
    <diV class="C2">
        <h3> BLOG</h3>
        <p>The deans still alive are Messrs. Yves Clain, who holds account no.3, and Gérard Virassamy, the eighth member to have registered.</p>
    </diV>
    <div class="c3">
        <input type="text" >
    </div>
    <div class="c4">
        <input type="text">  
    </div>
    <div class="c5">
        <img src="./assets/images/c.png">
    </div>
    <div class="c6">
        <h2>International Day of Cooperatives</h2>
    </div>
    <div class="c7">
        <p>The International Day of Cooperatives is an annual celebration of the cooperative movement observed on the first Saturday of July.</p>
    </div>
    <div class="c8">
        <img src="./assets/images/d.png">
    </div>
    <div class="c9">
        <h2>Communiqué - Household Gardening Scheme</h2>
        <p>The Ministry of Agro-Industry and Food Security hereby informs the public that a new Household Gardening Scheme is bein…</p>
    </div>
    <div class="c10">
        <img src="./assets/images/eee.png">
    </div>
    <div class="c11">
        <h2>Regional Cooperative Market Fair in Flacq</h2>
        <p>The Ministry of Industrial Development, SMEs and Cooperatives (Cooperatives Division) is inviting primary, secondary and tertiary Cooperative Societies to participate in a Regional Cooperative Market Fair</p>
    </div>
    <div class="c12">
        <img src="./assets/images/f.png">
    </div>
    <div class="c13">
        <h2>Training in Internal Control for Cooperatives</h2>
        <p>This training package is one of many developed and produced
            by the ILO-MATCOM Project to assist people who plan or carry
            out training - especially management training - for the
            staff of co-operatives in developing countries.</p>
    </div>

    <div class="c14">
        <img src="./assets/images/c.png">
    </div>
    <div class="c15">
        <h2>International Day of Cooperatives</h2>
    </div>
    <div class="c16">
        <p>The International Day of Cooperatives is an annual celebration of the cooperative movement observed on the first Saturday of July.</p>
    </div>
    <div class="c17">
        <img src="./assets/images/d.png">
    </div>
    <div class="c17">
        <h2>Communiqué - Household Gardening Scheme</h2>
        <p>The Ministry of Agro-Industry and Food Security hereby informs the public that a new Household Gardening Scheme is bein…</p>
    </div>
    <div class="c18">
        <img src="./assets/images/eee.png">
    </div>
    <div class="c19">
        <h2>Regional Cooperative Market Fair in Flacq</h2>
        <p>The Ministry of Industrial Development, SMEs and Cooperatives (Cooperatives Division) is inviting primary, secondary and tertiary Cooperative Societies to participate in a Regional Cooperative Market Fair</p>
    </div>
    <div class="c20">
        <img src="./assets/images/f.png">
    </div>
    <div class="c21">
        <h2>Training in Internal Control for Cooperatives</h2>
        <p>This training package is one of many developed and produced
            by the ILO-MATCOM Project to assist people who plan or carry
            out training - especially management training - for the
            staff of co-operatives in developing countries.</p>
    </div>
</div>
<div class="ab" style=" background-color: blue;">
    <div>
    </div>
</div>
<div class="last">
    
</div>
