<div class="f1">
    <div class="f2">
        <img src="./assets/images/tt.png" style="height: 500px;">
    </div>

    <div class="f3">
        <h3>About Us</h3>
    </div>
    <div class="f4">
        <p>We were founded by employees of Curepipe Co-operative Credit Union Limited Council in 1971. Since then, we’ve
            had one mission: serving our community by providing fair and ethical financial services that are relevant to
            their needs.</p>
    </div>
    <div class="f5">
        <img src="./assets/images/rec.png">
    </div>
    <div class="f6">
        <h2>Why the CCCU?</h2>
    </div>
    <div class="f66">
        <p>At the Curepipe Co-operative Credit Union, our mission is not only to encourage savings and access credit.
            Our team is at the service of its members. Shareholders that we accompany step by step on a daily basis to
            help them achieve their goals.

            Each client counts and we form a large family where the key word is mutual aid. Like a human chain, we
            advance together and the exchange takes place in both directions.

            It is thanks to the support of the members that the management can dream of the best for the latter. More
            concretely our products and services are as follows :</p>
    </div>

    <div class="f7">
        <h2>Our Vision and Mission</h2>
    </div>
    <div class="f77">
        <p>
            Mission: “ To be a model a benchmark and a leader in the sector of Savings and Credit Cooperatives in
            Mauritius”

            Vission: “ To offer members the best products ,at the best cost and under the best possible conditions.”
        </p>
    </div>
    <div class="k">
        <div class="f8">

        </div>

        <div class="f9">
            <h4>36000
                Members
            </h4>
        </div>
    </div>
    <div class="f10">
        <h2>Our Board Members</h2>
    </div>
    <div class="f11">
        <img src="./assets/images/k1.png">
    </div>
    <div class="f12">
        <h4>SOOPRAMANIEN Dominique
            President</h4>
    </div>
    <div class="f13">
        <img src="./assets/images/k2.png">
    </div>
    <div class="f133">
        <h4>SKINNY James Olivier
            Secretary</h4>
    </div>
    <div class="f14">
        <img src="./assets/images/k3.png">
    </div>
    <div class="f144">
        <h4>SAILOR KWOK FAN LAN Elza
            Treasurer</h4>
    </div>
    <div class="f15">
        <img src="./assets/images/k4.png">
    </div>
    <div class="f155">
        <h4>SAILOR KWOK FAN LAN Elza
            Treasurer</h4>
    </div>
    <div class="f16">
        <img src="./assets/images/k5.png">
    </div>
    <div class="f166">
        <h4>SAILOR KWOK FAN LAN Elza
            Treasurer</h4>
    </div>
    <div class="f17">
        <img src="./assets/images/k6.png">
    </div>
    <div class="f177">
        <h4>SAILOR KWOK FAN LAN Elza
            Treasurer</h4>
    </div>
    <div class="ab" style=" background-color: blue;">
        <div>
        </div>
    </div>
    <div class="last">

    </div>