<div class="a1">
    <div class="a2">
       <div class="a3">
        <h2>Savings </h2>
       </div> 
    
       <div class="a4">
        <h3>Return on investment through dividends</h3>
       </div>

       <div class="a5">

       </div>
       <div class="a6">

       </div>
    </div>
    <div class="a7">
        <img src="./assets/images/a1.png">
    </div>
    <div class="a8">
        <h4>Save With CCCU Credit Union</h4>
    </div>
    <div class="a9">
        <p>If you're fortunate enough to have savings already why not place some of it with CCCU Credit Union? 

            Your money will be accessible, 100% safe and earn a dividend when we make a surplus. 
            
            Plus your savings will be put to good use in the local community by being loaned to fellow members.</p>
    </div>
    <div class="a10">
        <p>When you join Gateway, we encourage you to save regularly, even if it is only a few pounds a week or month. We know that it can sometimes be difficult to save and we try to make it as easy and convenient for you as we can. If you are not sure which account or payment method would suit you, please give us a call or drop in for a chat.
            We rely on our members savings to be able to give loans; we don't borrow on the money markets or take risks with your savings. We also know that our members appreciate the peace of mind that comes from having savings, often for the first time. Every year we put aside money in our Benevolent Fund to help with members funeral expenses. £25, £50 or £75 for each year of membership. 
            
            More details here.</p>
    </div>
    <div class="a11">
        <div class="a12">
            <h4>We currently have four types of savings account for adults</h4><br>

               <h3>  *   Share account<br>
                *   Christmas Saver account<br>
                *   Special Events account<br>
                *   Attached Savings account</h3>
        </div>
        <div class="a13">
            <h2>and two for children</h2>
  <br>
                <h5> *  Young Saver account<br>
                     *  Child Trust Fund account</h5>
        </div>
        <div class="a14">
            <p>We charge an annual membership fee of £2 deducted from your Share Account at the end of September. The minimum to open a Share Account and become a member is £5. The current maximum shareholding per member allowed under our current rules is £30,000.
                We have lots of convenient ways to pay into your savings or loan account. You can use any or all of them, whatever suits you best. Click here for details</p>
        </div>
    </div>

    <div class="a15">
        <div class="a16">
            <h4>Withdrawing Money</h4>
        </div>
    </div>
    <div class="a17">
        <div class="a18">
            <h4>Withdrawing Money</h4>
        </div>
    </div>
    <div class="ab" style=" background-color: blue;">
        <div>
        </div>
    </div>
    <div class="last">
        
    </div>
