<div class="e1">
    <div class="e2">

    </div>
    <div class="e3">
        <h3>News & Events</h3>
    </div>
    <div class="e4">
        <p>The deans still alive are Messrs. Yves Clain, who holds account no.3, and Gérard Virassamy, the eighth member to have registered.</p>
    </div>
    <div class="e5">
        <img src="./assets/images/j1.png">
    </div>
    <div class="e6">
        <h3 routerLink="new1"><a>Training in Bio Organic Farming for Cooperatives at Maison des Eleveurs</a></h3>
    </div>
    <div class="e7">
        <p>Training in Bio Organic Farming for Cooperatives at Maison des Eleveurs - Training Centre, L'Agrement, St Pierre on Mondays from 09 00 to 12 00 hrs.</p>
    </div>
    <div class="e8">
        <button routerLink="/new1">Read Article →</button>
        
    </div>
    <div class="e9">
        <img src="./assets/images/rec.png">
    </div>
    <div class="e10">
        <h3>Curepipe Co-operative Credit Union Limited</h3>
    </div>
    <div class="e11">
        <p>Que cette journée dédiée spécialement aux femmes leur apporte autant de joie qu’elles souhaitent.
            Bonne fête a nos employés femmes.</p>
    </div>
    <div class="e12">
        <h2>Read Article →</h2>
    </div>
    <div class="e13">
        <img src="./assets/images/c.png">
    </div>
    <div class="e14">
        <h3>Curepipe Co-operative Credit Union Limited</h3>
    </div>
    <div class="e15">
        <p>Que cette journée dédiée spécialement aux femmes leur apporte autant de joie qu’elles souhaitent.
            Bonne fête a nos employés femmes.</p>
    </div>
    <div class="e16">
        <h2>Read Article →</h2>
    </div>
    <div class="e17">
        <img src="./assets/images/rec.png">
    </div>
    <div class="e18">
        <h3>Curepipe Co-operative Credit Union Limited</h3>
    </div>
    <div class="e19">
        <p>Que cette journée dédiée spécialement aux femmes leur apporte autant de joie qu’elles souhaitent.
            Bonne fête a nos employés femmes.</p>
    </div>
    <div class="e20">
        <h2>Read Article →</h2>
    </div>
    

</div>
<div class="ab" style=" background-color: blue;">
    <div>
    </div>
</div>
<div class="last">
    
</div>
