<div class="a">
    <div class="a1">
        <h4>User Register</h4>
    </div>
    <div class="a2">
        <h4>Username*</h4>
    </div>
    <div class="a3">

    </div>
    <div class="a4">
        <h4>Email*</h4>
    </div>
    <div class="a5">
        
    </div>
    <div class="a6">
        <h4>Password*</h4>
    </div>
    <div class="a7">
        
    </div>
    <div class="a8">
        <h4>Password*</h4>
    </div>
    <div class="a9">
        
    </div>
    <div class="a10">
        <button>REGISTER</button>
    </div>
</div>
<div class="ab" style=" background-color: blue;">
    <div>
    </div>
</div>
<div class="last">
    
</div>